TOKEN="YOUR_BOT_TOKEN"

# Bot name used in commands.
NAME = "Io"

# All message commands must be prefixed with this.
PREFIX = "io/"

# The Database
DATABASE = "io"
DATABASE_PORT = 5432
DATABASE_HOST = "db"
DATABASE_USER = "io"
DATABASE_PASSWORD = "io"

# Bot's source code repository
REPO_LINK = "https://github.com/Lunarmagpie/io"

# Bot invite link
INVITE_LINK = "https://discord.com/api/oauth2/authorize?client_id=1073771658906701954&permissions=346176&scope=bot"

# Public URL For Godbolt.
GODBOLT = "https://godbolt.org/api/"

# Public URL for Piston.
PISTON = "https://emkc.org/api/v2/piston/"

# A guild to put a special /restart command in, available to anyone.
OWNER_GUILD = 123456789123456789

# Emoji used loading. The one I use in is `resources/loading.gif`.
import hikari
LOADING_EMOJI = hikari.Emoji.parse("<a:loading:123456789>")
